<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="DuplexService.DuplexEndpoint">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:2358/DuplexService/" binding="netTcpBinding"
                bindingConfiguration="DuplexService.DuplexEndpoint" contract="ServiceReference.IService"
                name="DuplexService.DuplexEndpoint" />
        </client>
    </system.serviceModel>
</configuration>